<div id="main-content" class="wrap ha-waypoint" data-animate-up="ha-header-hide" data-animate-down="ha-header-small">
    <a class="ut-offset-anchor" id="to-main-content"></a>
    <div class="main-content-background">
        <section id="are-you-ready-to-enjoy-brooklyn" data-effect="fadeIn" data-width="centered" class="page-id-3765 entry-content parallax-background parallax-banner parallax-section  dark   fixed" style="background-position: 50% 379px;">
            <a class="ut-offset-anchor" id="section-are-you-ready-to-enjoy-brooklyn"></a>
            <div class="grid-container parallax-content section-header-holder">
                <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header pt-style-2">
                        <h2 class="parallax-title"><span>Are you ready <big>to enjoy Brooklyn?</big></span></h2>
                        <p class="lead">We have created a awesome theme that will help designers, developers and companies create websites for their startups quickly and easily.</p>
                    </header>
                </div>
            </div>
            <div class="clear"></div>
            <div class="grid-container section-content">
                <div class="grid-100 mobile-grid-100 tablet-grid-100">
                    <div class="ut-highlight-section-wrap clearfix">
                        <div data-effect="slideInLeft" class="grid-33 tablet-grid-33 mobile-grid-100 ut-highlight-section-right animated slideInLeft">
                            <style type="text/css" scoped="">
                                #uthsbox_54385487d6409.ut-highlight-section-box:hover h3 {
                                    color: #008ed6;
                                }
                                #uthsbox_54385487d6409 .ut-highlight-section-icon {
                                    border-color: #008ed6;
                                    color: #008ed6;
                                }
                            </style>
                            <div id="uthsbox_54385487d6409" class="ut-highlight-section-box">
                                <div class="ut-highlight-section-icon hide-on-tablet"><i class="fa fa-laptop"></i>
                                </div>
                                <div class="ut-highlight-section-content">
                                    <h3>Ultra Responsive</h3>
                                    <p>Brooklyn ist fully responsive and perfectly fits on any device.</p>
                                </div>
                            </div>
                            <style type="text/css" scoped="">
                                #uthsbox_54385487d64ba.ut-highlight-section-box:hover h3 {
                                    color: #008ed6;
                                }
                                #uthsbox_54385487d64ba .ut-highlight-section-icon {
                                    border-color: #008ed6;
                                    color: #008ed6;
                                }
                            </style>
                            <div id="uthsbox_54385487d64ba" class="ut-highlight-section-box">
                                <div class="ut-highlight-section-icon hide-on-tablet"><i class="fa fa-code"></i>
                                </div>
                                <div class="ut-highlight-section-content">
                                    <h3>Clean Code</h3>
                                    <p>Brooklyn has been built with the latest submission requirements based on the WordPres Codex, everything is working as intended.</p>
                                </div>
                            </div>
                            <style type="text/css" scoped="">
                                #uthsbox_54385487d6553.ut-highlight-section-box:hover h3 {
                                    color: #008ed6;
                                }
                                #uthsbox_54385487d6553 .ut-highlight-section-icon {
                                    border-color: #008ed6;
                                    color: #008ed6;
                                }
                            </style>
                            <div id="uthsbox_54385487d6553" class="ut-highlight-section-box">
                                <div class="ut-highlight-section-icon hide-on-tablet"><i class="fa fa-sitemap"></i>
                                </div>
                                <div class="ut-highlight-section-content">
                                    <h3>Portfolio</h3>
                                    <p>Present your work to the crowd, with our portfolio management you can easily create your own showcase so that everyone is able to find and see your work on the web!</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-33 tablet-grid-33 mobile-grid-100">
                            <div class="ut-highlight-section-image ut-portrait">
                                <img data-effect="fadeInUp" class="animated fadeInUp" alt="" src="./index_files/readyphone55.png">
                            </div>
                        </div>
                        <div data-effect="slideInRight" class="grid-33 tablet-grid-33 mobile-grid-100 animated slideInRight">
                            <style type="text/css" scoped="">
                                #uthsbox_54385487d6635.ut-highlight-section-box:hover h3 {
                                    color: #008ed6;
                                }
                                #uthsbox_54385487d6635 .ut-highlight-section-icon {
                                    border-color: #008ed6;
                                    color: #008ed6;
                                }
                            </style>
                            <div id="uthsbox_54385487d6635" class="ut-highlight-section-box">
                                <div class="ut-highlight-section-icon hide-on-tablet"><i class="fa fa-text-width"></i>
                                </div>
                                <div class="ut-highlight-section-content">
                                    <h3>Hero Title</h3>
                                    <p>Brooklyn provides 11 pre defined Hero Title styles out of the box</p>
                                </div>
                            </div>
                            <style type="text/css" scoped="">
                                #uthsbox_54385487d66ca.ut-highlight-section-box:hover h3 {
                                    color: #008ed6;
                                }
                                #uthsbox_54385487d66ca .ut-highlight-section-icon {
                                    border-color: #008ed6;
                                    color: #008ed6;
                                }
                            </style>
                            <div id="uthsbox_54385487d66ca" class="ut-highlight-section-box">
                                <div class="ut-highlight-section-icon hide-on-tablet"><i class="fa fa-magic"></i>
                                </div>
                                <div class="ut-highlight-section-content">
                                    <h3>Section Header</h3>
                                    <p>Brooklyn provides 7 different header styles out of the box. With the help of the built in section settings, you can easily style each section header individually.</p>
                                </div>
                            </div>
                            <style type="text/css" scoped="">
                                #uthsbox_54385487d67a3.ut-highlight-section-box:hover h3 {
                                    color: #008ed6;
                                }
                                #uthsbox_54385487d67a3 .ut-highlight-section-icon {
                                    border-color: #008ed6;
                                    color: #008ed6;
                                }
                            </style>
                            <div id="uthsbox_54385487d67a3" class="ut-highlight-section-box">
                                <div class="ut-highlight-section-icon hide-on-tablet"><i class="fa fa-users"></i>
                                </div>
                                <div class="ut-highlight-section-content">
                                    <h3>Members</h3>
                                    <p>Brooklyn provides an easy team management. Add as many team members as you need and choose between 4 pre defined styles to present them on your site</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ut-scroll-up-waypoint" data-section="section-are-you-ready-to-enjoy-brooklyn"></div>
        </section>
        <div class="clear"></div>
