<header id="header-section" class="ha-header ha-transparent fullwidth">
    <div class="ha-header-perspective">
        <div class="ha-header-front">
            <div class="grid-20 tablet-grid-50 mobile-grid-50 push-5">
                <div class="site-logo">
                    <a href="/" title="Brooklyn" rel="home">
                        <img data-altlogo="/assets/images/brooklyn-logo-dark.png" src="/assets/images/brooklyn-logo-light.png" alt="Brooklyn">
                    </a>
                </div>
            </div>
            <nav id="navigation" class="grid-80 hide-on-tablet hide-on-mobile pull-5">
                <ul id="menu-main" class="menu sf-js-enabled sf-arrows">
                    <li class="ut-home-link"><a href="http://themeforest.unitedthemes.com/wpversions/brooklyn/demo11/#top" class="selected">Home</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-are-you-ready-to-enjoy-brooklyn" class="">About</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-the-team-behind-brooklyn" class="">Team</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-our-outstanding-service" class="">Service</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-our-awesome-work" class="">Work</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-you-are-in-good-company" class="">Pricing</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/wpversions/brooklyn/demo11/blog/" class="">Blog</a>
                    </li>
                    <li class="contact-us menu-item menu-item-type-custom menu-item-object-custom "><a href="/wpversions/brooklyn/demo11/#section-contact" class="">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="ut-mm-trigger tablet-grid-50 mobile-grid-50 hide-on-desktop">
                <button class="ut-mm-button"></button>
            </div>
            <nav id="ut-mobile-nav" class="ut-mobile-menu mobile-grid-100 tablet-grid-100 hide-on-desktop" style="width: 1445px; height: 758px; display: none;">
                <div class="ut-scroll-pane" style="width: 1442px; height: 758px;">
                    <ul id="ut-mobile-menu" class="ut-mobile-menu">
                        <li class="ut-home-link"><a href="/#top" class="selected">Home</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-are-you-ready-to-enjoy-brooklyn" class="">About</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-the-team-behind-brooklyn" class="">Team</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-our-outstanding-service" class="">Service</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-our-awesome-work" class="">Work</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/#section-you-are-in-good-company" class="">Pricing</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/wpversions/brooklyn/demo11/blog/" class="">Blog</a>
                        </li>
                        <li class="contact-us menu-item menu-item-type-custom menu-item-object-custom  last"><a href="/#section-contact" class="">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="clear"></div>
