<section id="ut-hero" class="hero ha-waypoint parallax-section parallax-background" data-animate-up="ha-header-hide" data-animate-down="ha-header-hide">
    <div class="grid-container">
        <div class="hero-holder ut-split-hero grid-parent grid-100 mobile-grid-100 tablet-grid-100 ut-hero-style-2" style="opacity: 1;">
            <div class="hero-inner" style="text-align:left;">
                <div class="grid-50 tablet-grid-50 mobile-grid-100">
                    <div class="hth">
                        <h1 class="hero-title">Present your web <span>in different ways</span> with Brooklyn!</h1>
                    </div>
                    <div class="hdb"><span class="hero-description-bottom">Available only on themeforest!</span>
                    </div> <span class="hero-btn-holder"> <a id="to-about-section" target="_self" href="/#section-are-you-ready-to-enjoy-brooklyn" class="hero-btn custom"> <i class="fa fa-lightbulb-o"></i> Browse Features </a> <a href="http://themeforest.unitedthemes.com/wpversions/brooklyn/demo11/#section-pricing" class="hero-second-btn custom" target="_self"> <i class="fa fa-shopping-cart"></i> Purchase Brooklyn </a> </span>
                </div>
                <div class="grid-50 tablet-grid-50 hide-on-mobile">
                    <div class="ut-split-image">
                        <img class="animated slideInRight" data-effect="slideInRight" alt="Brooklyn" src="/assets/images/hero-phone55.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-section="top" class="ut-scroll-up-waypoint"></div>
</section>
<div class="clear"></div>
