{% extends "layouts/default.twig" %}

{% block title %}Company Name | About Us{% endblock %}
{% block meta_description %}Resan - proven anti vandal toilets with a superior finish to steel basins, WC pans and urinals.{% endblock %}
{% block meta_keywords %}Anti vandal toilets, steel basins, vandal resistant sanitaryware, stainless steel urinals, stainless steel toilet pans, stainless stainless toilet, commercial toilets, stainless urinals, commercial bathrooms, stainless steel wc{% endblock %}


{% block content %}

    <section id="error" class="container">
        <h1>404, Page not found</h1>
        <p>The Page you are looking for doesn't exist or an other error occurred.</p>
        <a class="btn btn-success" href="/">GO BACK TO THE HOMEPAGE</a>
    </section><!--/#error-->

{% endblock %}